<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body >
   

    <a href="@Url.Action("Index", "Home")"> <img src="http://www.ogloszenia-drobne.com.pl/images/logo.gif" /></a>
    @*<ul id="menu">
       
 
    </ul>*@

    <ul id="CategoryMenu" class="menu">
        <li><a href="@Url.Action("GetAdvertByCategory", "Advert", new {  id=0})"> Wszystkie </a></li>

    </ul>

    <br />

    <ul class="menu">
        <li><a href="@Url.Action("LogIn", "Account")"> Zaloguj się </a></li>
        <li><a href="@Url.Action("SignUp", "Account")"> Zarejestruj </a></li>
        <li><a href="@Url.Action("AddAdvert", "Advert")"> Dodaj ogłoszenie</a></li>
        <li><a href="@Url.Action("AddAdvert", "Advert")"> Konto </a></li>
        <li><a href="@Url.Action("LogOut", "Account")"> Wyloguj się </a></li>
    </ul>


  
 
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>


<script>

    var currentPage = 0;
    var FirstLoad = false;


    function LayoutScope() {

        var self = this;

        this.GetCategory = function () {

            var urlAdres = "@Url.Action("GetAllCategory", "Category")";

            $.ajax({
                type: "GET",
                url: urlAdres,
                success: function (data) {
                    $.each(data, function (key, value) {

                        var _id = value.Id;
                        if (value.IdParent == undefined || value.IdParent == null) {
                            $("#CategoryMenu").append('<li class=' + value.Id + '><a href="@Url.Action("GetAdvertByCategory", "Advert")?id=' + _id + '">' + value.Nazwa + '</a></li>');

                        }


                    })
                },
                error: function (error) {
                    alert("error");

                }
            });
        }


    }






    $(document).ready(function () {

        var sc= new LayoutScope();
        sc.GetCategory();


    });


</script>